<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>WorkShop Client</title>
</head>

<body>
    <div id="app">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6  ">
                <div>
                    <div>
                        <p class="texto">Client Form.</p>
                    </div>
                </div>
                <form id="burguerForm">
                    <div id="nameDiv">
                        <p>Type you name please: </p>
                        <input v-model="name" placeholder="Place you name here...">
                        <!--.Numer example, converts the string into numer type directly.-->
                        <p>What is your age? </p>
                        <input v-model.number="age" type="number">
                        <br>
                    </div>
                    <div id="addressDiv">
                        <span>Please let us know your address:</span>
                        <br>
                        <textarea style="height: 100px; width: 350px;" v-model="address"
                            placeholder="Place your address here..."></textarea>
                        <p>{{address}}</p>
                    </div>
                    <div id="interestDiv">
                        <p>What are your interests?</p>
                        <label for="Sports" style="margin-right: 10px;">Sports<input type="checkbox" id="Interes1"
                                value="Sports" v-model="checkedInterests"></label>
                        <label for="Video Games" style="margin-right: 10px;">Video Games<input type="checkbox" id="Interes2"
                                value="Video Games" v-model="checkedInterests"></label>
                        <label for="Health" style="margin-right: 10px;">Health<input type="checkbox" id="Interes2"
                                value="Health" v-model="checkedInterests"></label>
                    </div>
                    <div id="genderDiv">
                        <p>Please select your gender: </p>
                        <label for="Male">Male<input type="radio" id="Male" value="Male" v-model="gender"></label>
                        <label for="Female">Female<input type="radio" id="Female" value="Female" v-model="gender"></label>
                        <br>
                    </div>
                    <div id="selectDiv">
                        <p>Please select you favorite store: </p>
                        <select v-model="favoriteStore">
                            <option disabled selected value="">Stores...</option>
                            <option>Las americas</option>
                            <option>Villa Mella</option>
                            <option>Guaricanos</option>
                        </select>
                        <br>
                    </div>
                    <div id="multiSelectDiv">
                        <p>Which are your favorite hamburgers from our menu? </p>
                        <select v-model="favoriteProducts" multiple>
                            <option>BaconCheese Burger</option>
                            <option>Baconator Deluxe</option>
                            <option>Double McWrap</option>
                        </select>
                        <br>
                    </div>
                    <div id="mappedSelect">
                        <p>Who is your favorite chef?</p>
                        <select v-model="selectedChef">
                            <option  disabled selected value="">Chef</option>
                            <option v-for="chef in chefs" v-bind:value="chef.Name + ' ' +chef.LastName">
                                {{ chef.Name }} {{chef.LastName}}
                            </option>
                        </select>
                        <br>
                    </div>
                    <div id="modifiersDiv">
                        <p>Please, give us your overall opinion: </p>
                        <!--.lazy example, updates the input after you finish typing.-->
                        <!--.trim example, eliminates whitespaces in the variables.-->
                        <textarea style="height: 100px; width: 350px;" v-model.lazy.trim="opinion"
                            placeholder="Place your opinion here..."></textarea>
                    </div>
                    <div id="submitForm">
                        <button type="button" v-on:click="ShowData">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col" v-if="status">
                <div class="card" style="width: 18rem;" v-for="user in users">
                    <div class="card-body">
                    <h5 class="card-title">{{user.id}} - {{user.Name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">age: {{user.Age}}, Gender: {{user.gender}}</h6>
                    <p class="card-text">Interests: {{user.checkedInterests}}</p>
                    <p class="card-text">Store: {{user.favoriteStore}}</p>
                    <p class="card-text">Chef: {{user.selectedChef}}, Products: {{user.favoriteProducts}}</p>
                    <p class="card-text">Opinion: {{user.opinion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./js/main.js"> </script>
    <link rel="stylesheet" href="css/css.css">
</body>
</html>